<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>

<body>
<div>
    <div>
        <h1>Post visits!</h1>
        <br>
        <b>Post:</b> {{ post }}
        <br>
        <b>Visits:</b> {{ visitsCount }}
    </div>
</div>
</body>
</html>