{% extends "::base.html.twig" %}

{% block title %}Record detail{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Detailed record info</h1>
    </div>
    <h4>Record ID: #{{ record.id }}</h4>


{% endblock %}