{% extends 'base.html.twig' %}

{% block body %}
    <p>Total visits: 200</p>
    <p>Page visits:</p>
    <ul>
        <li>Home: 10 </li>
        <li>Blog: 23 </li>
        <li>FAQ: 2 </li>
    </ul>

{% endblock %}